.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;
}
.player .player-info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
}